{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": "warn",
    "no-multi-str": 0,
    "no-use-before-define": "off",
    "no-case-declarations": "off",
    "no-async-promise-executor": "off"
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}
